@model EPOLIS.Models.Penutupan

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Penutupan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="JENISPENUTUPAN" class="control-label"></label>
                <input asp-for="JENISPENUTUPAN" class="form-control" />
                <span asp-validation-for="JENISPENUTUPAN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NOREGPENUTUPAN" class="control-label"></label>
                <input asp-for="NOREGPENUTUPAN" class="form-control" />
                <span asp-validation-for="NOREGPENUTUPAN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ADMINID" class="control-label"></label>
                <input asp-for="ADMINID" class="form-control" />
                <span asp-validation-for="ADMINID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TGLINPUT" class="control-label"></label>
                <input asp-for="TGLINPUT" class="form-control" />
                <span asp-validation-for="TGLINPUT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TGLOTORISASI" class="control-label"></label>
                <input asp-for="TGLOTORISASI" class="form-control" />
                <span asp-validation-for="TGLOTORISASI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="STATUS" class="control-label"></label>
                <input asp-for="STATUS" class="form-control" />
                <span asp-validation-for="STATUS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NAMA" class="control-label"></label>
                <input asp-for="NAMA" class="form-control" />
                <span asp-validation-for="NAMA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NOSKK" class="control-label"></label>
                <input asp-for="NOSKK" class="form-control" />
                <span asp-validation-for="NOSKK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TGLSKK" class="control-label"></label>
                <input asp-for="TGLSKK" class="form-control" />
                <span asp-validation-for="TGLSKK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NOPK" class="control-label"></label>
                <input asp-for="NOPK" class="form-control" />
                <span asp-validation-for="NOPK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CIF" class="control-label"></label>
                <input asp-for="CIF" class="form-control" />
                <span asp-validation-for="CIF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ISBROKER" class="control-label"></label>
                <input asp-for="ISBROKER" class="form-control" />
                <span asp-validation-for="ISBROKER" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ISUPDATEPENUTUPANRENEWAL" class="control-label"></label>
                <input asp-for="ISUPDATEPENUTUPANRENEWAL" class="form-control" />
                <span asp-validation-for="ISUPDATEPENUTUPANRENEWAL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UPDATEBY" class="control-label"></label>
                <input asp-for="UPDATEBY" class="form-control" />
                <span asp-validation-for="UPDATEBY" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UPDATEDATE" class="control-label"></label>
                <input asp-for="UPDATEDATE" class="form-control" />
                <span asp-validation-for="UPDATEDATE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
